<div class="endorsement">
    {% if thumbnail %}<div class="thumb" style="background-image:url({{ thumbnail.src }})"></div> {% endif %}
    <h3 class="endorsement__name">{{ name }}</h3>
    <p class="endorsement__credentials">{{ credentials }}</p>
</div>
