table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: .5em;
    border: 1px solid #ccd0d4;
    text-align: left;
}

th:nth-child(2n), td:nth-child(2n) {
    background-color: #f9f9f9;
}

tr:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}
